html,body{
    margin: 0;
    background-color:#E0E0E0;
}
li{
    list-style:none;
  }
a{
    color:#000;
    text-decoration:none;
  }
/* Top background */
.view-page{
    background-image: url("./src/bg.jpg");
    background-position: center;
    min-width: 100%;
    min-height: 400px;
}
/* Nav bar and Header */
header{
    height: 60px;
    width: 100%;
    background:rgb(245,248,250,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header-img{
    width: auto;
    height: 60px;
    transition: transform .2s;
}
#header-img:hover{
    transform: scale(1.5);
}
.nav-link{
    color: #FFED52;
    background: rgb(230,248,250,0.1);
    height: 60px;
    padding: 20px;
}
.nav-link:hover{
    background-color: rgb(230,248,250,0.8);
    color: red;
}
#nav-bar > ul {
    display: flex;
    flex-direction: row;
    color: #FFED52;
}

/* Top view page Content */
#welcome-content{
    color:red;
    font-size: 30px;
    text-align: center;
}
/* button and email form  */
#newsletter{
    width: 50%;
    margin: 0px auto;
}
#newsletter > h2 {
    text-align: center;
    font-size: 34px;
}
#email{
    display: block;
    margin: 0px auto;
    width:calc(100% + -40px);
    border-radius:0.75rem;
    padding:10px;
}
#email:focus{
    border:rgb(158, 158, 255) solid 5px;
    outline: none;
}
#submit{
    display:block;
    margin:20px auto;
    background:#FFED52;
    width:calc(100% + -40px);
    padding:10px;
    border-radius:15px;
    font-size:20px;
    font-weight: 600;
    font-family:sans-serif;
}
#submit:hover{
    background: #E0E0E0;
    cursor: pointer;
}

/* Video and Description */
#intro{
    background-color: rgb(230,248,250,0.5);
    text-align: center;
    padding: 20px;
}
#intro-section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#intro-section > p{
    width:50% ;
    padding: 3vw;
    font-size: large;
}
#intro-section > iframe{
    width: 50%;
}

/* Content Of Product */
.content{
    width: 100%;
    min-height: 250px;
    background-color: rgb(230,248,250,0.8);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px;
}
.content-div{
    width: 25%;
    text-align: center;
}

/* Footer */
footer{
    position: relative;
    background-color: darkgray;
    min-height: 150px;
    width: 100%;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    margin: 0px 50px;
}
#address{
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
    width: 12%;
    font-size: 17px;
}
footer >div> ul{
    display: flex;
    flex-direction: column;
    margin: 30px 0px;
}
footer >div>ul > li{
    margin: 3px 0;
}
#copyright{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
/* For mobile Devices */
@media screen and (max-width:768px){
    #welcome-content{
        font-size: 25px;
        text-align: center;
    }
    .view-page{
        background-position: center;
        width: 100%;
        min-height: 400px;
    }
    #newsletter{
        width: 100%;
        margin: 0px auto;
    }
    #intro-section{
        flex-direction: column-reverse;
    }
    #intro-section iframe{
        width: 100%;
    }
    #intro-section > p{
        width: 100%;
    }
    .content{
        flex-direction: column;
    }
    .content-div{
        width: 100%;
        padding: 10px;
    }
    .content-div p{
        padding: 0 10px;
    }
    #address{
        width: 40%;
    }
}